/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #F0E68C;
  color: #333;
}

header {
  background: linear-gradient(90deg, #FFA07A,#FF7F50,#FF6347);
  color: white;
  padding: 15px;
  text-align: center;
}

header img {
  max-width: 250px;
  margin-bottom: 10px;
}

 
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.item {
  background: linear-gradient(90deg, #FF8C00,#FFA500,#FFD700,#FFFF00);
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.item img {
  width: 100%;
  border-radius: 8px;
}

button {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #b71c1c;
}

#pedido {
  background: #F0E68C;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

#lista-pedido {
  list-style: none;
  padding: 0;
}

#lista-pedido li {
  margin: 5px 0;
}

footer {
  background: linear-gradient(90deg, #FFA07A,#FF7F50,#FF6347);
  color: white;
  text-align: center;
  padding: 25px;
}
