
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  font-family: "Montserrat", sans-serif;
 min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(90deg, #FFA07A, #FF7F50, #FF6347);
  color: white;
  padding: 1.5rem;
  text-align: center;
}

header img {
  max-height: 18rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.25rem;
  padding: 1rem;
}

.card {
  background: linear-gradient(90deg, #FF8C00, #FFA500, #FFD700, #FFFF00);
  border-radius: 0.625rem;
  padding: 1rem;
  text-align: center;
}

.card img {
  width: 9.375rem;
  border-radius: 0.625rem;
}

button {
  background: #e60000;
  color: white;
  border: none;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

button:hover {
  background: #b30000;
}

@media (max-width: 37.5rem) {
  .card {
    font-size: 0.9375rem;
  }
  button {
    width: 9.375rem;
  }
}
